# Virtual environment
.venv/

# Data and generated artifacts
raw/**
processed/**
labeled/**
dataset/**
models/**
results/**

# Keep folder structure while ignoring generated contents
!raw/**/
!processed/**/
!labeled/**/
!dataset/**/
!models/**/
!results/**/
!**/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
