# Virtual environment
.venv/

# Raw audio (never modify, never commit)
raw/

# Generated data
processed/
labeled/
dataset/
models/
results/

# Keep folder structure
!**/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
